@import "tailwindcss";

:root {
  --text-dark: #2d2b54;
  --bg-light-pink: #f9b4e0;
  --bg-dark-pink: #F7B3E5;
  --bg-cream: #fcf3dd;
}

@theme inline {
  --color-text-dark: var(--text-dark);
  --color-light-pink: var(--bg-light-pink);
  --color-dark-pink: var(--bg-dark-pink);
  --color-cream: var(--bg-cream);
  --font-sans: var(--font-montserrat), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-light-pink);
  color: var(--text-dark);
}
